.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin-bottom: 32px;

    text-align: center;
    margin: 0 312px;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        margin: 0 232px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        margin: 0 104px;
    }
}


@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px 16px;
        width: 100%;
    }
}