.places__url-heading {
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
  margin-bottom: 12px;
  letter-spacing: 2.2px;
}

@media screen and (max-width: 767px) {
  .places__url-heading {
    margin: 0 16px;
  }
}