.places__paragraph-item {
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 26px;
}

.places__paragraph-item:last-of-type {
  margin-bottom: 0;

}

@media screen and (max-width: 1023px) {
  .places__paragraph-item {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .places__paragraph-item {
    margin: 0 16px 25px;
  }
}